@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

*{
box-sizing: border-box;
}
body{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
font-family: 'Red Hat Text', sans-serif;
margin: 0;
padding: 0;
overflow: hidden;
background-color:hsl(235, 16%, 14%);
}

.patterns{
    position: absolute;
    bottom: 0;
    z-index: -2;

}

.container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50vh;
    width: 80vw;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 20vh;
    width: 70vw;
    margin: 0 2vw 0 2vw;
}
.header h1{
color: hsl(0, 0%, 100%);
font-size: 4.5vmin;
letter-spacing: 1vmin;
text-align: center;
}
.timers{
display: flex;
position: relative;
}
.timer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.3vmin;
    width: 18vmin;
    height: 15vmin;
    background-color: transparent;
    font-size: 8vmin;
    color: hsl(345, 95%, 68%);
}

.timer::before{
    content: "";
    height: 7.5vmin;
    width: 16vmin;
    position: absolute;
    background-color: hsl(236, 21%, 26%);
    top: 0px;
    z-index: -1;
    border-bottom: 2px solid  hsla(0, 0%, 0%, 0);
    border-radius: 1vmin;
    border-bottom-left-radius: 2vmin;
    border-bottom-right-radius: 2vmin;
    box-shadow: 0px -0.2vmin 0.3vmin 0 rgba(63, 62, 62, 0.123);
}

.timer::after{
    content: "";
    height: 7.5vmin;
    width: 16vmin;
    position: absolute;
    background-color: hsl(236, 21%, 26%);
    bottom: 0px;
    z-index: -1;
    border-top: 2px solid  hsla(0, 0%, 0%, 0.123);
    border-radius: 1vmin;
    border-top-left-radius: 2vmin;
    border-top-right-radius: 2vmin;
    box-shadow: 0px 0.3vmin 0.3vmin 0 rgba(73, 72, 72, 0.233);
}

.labels{
    display: flex;
    align-items: center;
    justify-content: center;
}

.label{
    width: 18vmin;
    margin: 1.3vmin;
    height: 5vmin;
    margin-top: 0vmin;
    display: flex;
    align-items: center;
    justify-content: center;
}

.label h3{
    font-size: 1.6vmin;
    letter-spacing: 0.4vmin;
    color: hsl(237, 18%, 59%);
}

.icons{
    display: flex;
    position: absolute;
    bottom: 8vh;
    z-index: 1;
}
.icon{
    margin-left: 10vmin;
    cursor: pointer;
}

svg:focus{
    fill: rgb(251, 96, 135) !important;
}